stages:
  - install
  - lint
  - build

image: node:22-alpine

# Stage 1: Installation des dépendances
install:
  stage: install
  script:
    - npm run install:all
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - api/node_modules/
      - web/node_modules/
    policy: push

# Stage 2: Lint (qualité du code)
lint:frontend:
  stage: lint
  needs: [install]
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - api/node_modules/
      - web/node_modules/
    policy: pull
  script:
    - cd web && npm run lint

lint:backend:
  stage: lint
  needs: [install]
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - api/node_modules/
      - web/node_modules/
    policy: pull
  script:
    - cd api && npm run lint

# Stage 3: Build
build:frontend:
  stage: build
  needs: [lint:frontend, lint:backend]
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - api/node_modules/
      - web/node_modules/
    policy: pull
  script:
    - cd web && npm run build
  artifacts:
    paths:
      - web/dist/
    expire_in: 1 week

build:backend:
  stage: build
  needs: [lint:frontend, lint:backend]
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - api/node_modules/
      - web/node_modules/
    policy: pull
  script:
    - cd api && node -e "import('./src/index.js')"
